- content_for :page_title do
  == Data for
  %span.accent= @state.name
  == (#{@state.abbr})

%details
  %summary== Pulled from the following #{@urls.count} URLs:
  %ul
    - @urls.each do |url|
      %li= url
= image_tag @chart.url.to_s
%pre= @data.join("\n")
