- content_for :page_title do
  == Data for
  %span.accent= @state.name
  == (#{@state.abbr})

= image_tag @chart.url.to_s

%details
  %summary== Raw data (#{pluralize @requests.count, 'request'}):
  %dl.raw-data
    - @requests.each do |request|
      - url, response = request
      %dt= url
      %dd
        %code= response
