- content_for :extra_headers do
  = stylesheet_link_tag 'chart'

- content_for :page_title do
  = cell 'state_list', @states

:markdown
  #{_ 'This chart shows the *daily cumulative total* number of individuals who have tested positive for coronavirus.'}

= @chart

%details
  %summary= _ 'Raw data'
  - @raw_data.each do |state, requests|
    = render 'state_requests', state: state, requests: requests
