!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= [strip_tags(content_for :page_title), _('COVID-19 Tracking Charts')].compact.join ' | '
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = yield :extra_headers
  %body
    %header
      %h1
        = link_to '/' do
          = h(_ '%{span}COVID-19%{_span} Tracking Charts by U.S. State') % {span: '<span class="accent">'.html_safe, _span: '</span>'.html_safe}
    %nav= cell(:state_selector, @states, url: choose_states_path)

    %main
      - if content_for :page_title
        %h1= content_for :page_title
      = yield

    %footer
      %p= _('Version %{app_version}, released %{release_date}.') % {app_version: APP_VERSION, release_date: RELEASE_DATE.strftime('%-d %B %Y')}

      :markdown
        #{_ 'Developed by [Marnen E. Laibow-Koser](http://www.marnen.org). Lend a hand at [https://github.com/marnen/covid_tracking_charts](https://github.com/marnen/covid_tracking_charts)!'}

        #{_ 'Data from [The COVID Tracking Project](https://covidtracking.com/).'}
